<%- include("../shared/includes/head.ejs", {pageTitle: 'signup' }) %>
    </head>

    <body>
        <%- include('../shared/includes/header.ejs') %>
            <main>
                <h1>Unfortunately, something went wrong - please try again later </h1>
            </main>
            <%- include("../shared/includes/footer.ejs") %>