<%- include("../../shared/includes/head.ejs", {pageTitle: 'Log In' }) %>
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="stylesheet" href="/styles/form.css">
    </head>

    <body>
        <main>
            <h1>Log In</h1>
            <% if(inputData.errorMessage){ %>
                <p class="alert">
                    <%= inputData.errorMessage %>
                </p>
                <% } %>
                    <form action="/login" method="POST" class="form">
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email"
                                value="<%= inputData.email %>" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                value="<%= inputData.password %>" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div>
                            <a href="/signup">Create an account ?</a>
                        </div>
                    </form>
        </main>
    </body>

    </html>